table {
    border-collapse: collapse;
}

th,
td {
    border: 1px solid black;
    min-width: 30px;
    height: 25px;
    padding: 3px;
}

.current-cell {
    background-color: pink;
}

.current-column {
    background-color: lightgreen;
}

.current-row {
    background-color: thistle;
}

#sum-bar {
    background-color: lightblue;
}

button {
    font-size: 24px;
    margin-top: 50px;
    text-align: center;
}

.headerColumn {
    background-color: papayawhip ;
}